# local data
data/

# python
.venv/
__pycache__/
*.pyc

# notebooks
.ipynb_checkpoints/

# OS
.DS_Store

# logs / metrics
*.log
benchmarks/
dbt_internal_packages/


# Local python env
.venv/

# DuckDB database
duckdb/

# dbt artifacts
target/
dbt_packages/
package-lock.yml

# local profile
profiles.yml

# user config
.user.yml
